@font-face {
    font-family: 'Lobster';
    src: url('./lobster-regular-webfont.woff') format('woff'),
    url('./lobster-regular-webfont.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: grey;
    margin: 0;
    display:flex;
    justify-content: center;
    font-family: sans-serif;

}

#content {
    background-color: rgb(243, 243, 239);
    width: 75%;
    height: 100vh;
    
}

.header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    color: rgb(187, 110, 152);
}

h1 {
    padding-left: 20px;
    font-family: 'Lobster';
    font-size: 2.5rem;
    margin:20px 0;
    
}


.tabs {
    margin: 0;
    list-style-type: none;
    display:flex;
    justify-content: end;
    gap: 20px;
    font-weight: bold;
    font-size: 1.3rem;

}

.menu, .home, .about {
    padding:20px;
    align-self: center;
}

.hero {
    background:url('./teapot.jpg');
    width:100%;
    height:40%;
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.words{
    position: relative;
    top: 25%;
    background-color:rgba(83, 30, 59, 0.336);
    width: 100%;
    color: white;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.heading {
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.subheading {
    text-align: center;
    font-size: 1.25rem;
    color:rgb(255, 255, 255);
    font-weight: bold;

}

.info {
    display:flex;
    text-align: center;
}

.box-one, .box-two, .box-three {
    flex:1;
}

.box-header {
    font-family: 'Lobster', sans-serif;
    color:rgb(187, 110, 152);
    font-size: 1.5rem;
}

.info img {
    width:250px;
    height:auto;
    border-radius: 10px;
}