@font-face {
    font-family: 'Lobster';
    src: url('./lobster-regular-webfont.woff') format('woff'),
    url('./lobster-regular-webfont.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: rgb(204, 204, 204);
    margin: 0;
    display:flex;
    justify-content: center;
    font-family: sans-serif;

}

#content {
    background-color: rgb(229, 240, 241);
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
/*--header styling--*/

.header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    color: rgb(187, 110, 152);
}

h1 {
    padding-left: 20px;
    font-family: 'Lobster';
    font-size: 2.5rem;
    margin:20px 0;
    
}


.tabs {
    margin: 0;
    list-style-type: none;
    display:flex;
    justify-content: end;
    gap: 20px;
    font-weight: bold;
    font-size: 1.3rem;

}

.menu, .home, .about {
    padding:20px;
    align-self: center;
    cursor: pointer;
}
/*end of header*/
/*footer styling*/
footer {
    text-align: center;
    background-color: rgba(187, 110, 152, 0.712);
    padding: 25px;
    color: white;
    font-weight: bold;
    font-size:1.25rem;
    text-decoration: underline;

}
/*end of footer*/


/*--Home Styling--*/
 

/*hero styling*/
.hero {
    background:url('./teapot.jpg');
    width:100%;
    height:40%;
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.words{
    position: relative;
    top: 25%;
    background-color:rgba(83, 30, 59, 0.336);
    width: 100%;
    color: white;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.heading {
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.subheading {
    text-align: center;
    font-size: 1.25rem;
    color:rgb(255, 255, 255);
    font-weight: bold;

}
/*end of hero */

/*info styling*/

.info {
    display:flex;
    text-align: center;
    background-color: white;
    flex:1;
    flex-wrap: wrap;
}

.box-one, .box-two, .box-three {
    flex:1;
    align-self: center;
   
}

.box-header {
    font-family: 'Lobster', sans-serif;
    color:rgb(187, 110, 152);
    font-size: 1.75rem;
    text-decoration: underline;
}

.info img {
    width:250px;
    height:auto;
    border-radius: 10px;

}

.box-words {
    padding:20px;
}
/*end of info*/

/* end of homepage*/

/*menu styling */

.menu-page {
    display:grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100px 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
}

.menu-page h2{
    text-align:center;
    font-family: 'lobster', sans-serif;
    font-size: 2rem;
    color:rgb(255, 255, 255);
    background-color: rgba(187, 110, 152, 0.623);
    width: 85%;
    margin: 10px;
    border-radius: 10px;
    justify-self: center;

}

.drinks-header {
    grid-column: 2;
    grid-row: 1;
}

.food-section, .drinks-section {
    height: 85%;
    width: 85%;
    align-self: start;
    justify-self: center;
    background-color: white;
    border-radius: 20px;

}

.menu-page ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.food-list  {
 font-weight: bold;

}

.food-item {
    margin: 20px;
    font-size: 1.5rem;
    font-family: 'lobster',sans-serif;
}

.food-item ul, .drinks-item ul {
    display:flex;
    justify-content:space-between;
    font-size:1rem;
    font-family: sans-serif;
}

.drinks-item ul li:first-of-type {
    font-size: 1.5rem;
    font-family: 'lobster', sans-serif;
}




.drinks-item li {
    font-weight: 500;
    padding: 10px 20px;
}

.food-item li {
    font-weight: 500;
    color:rgb(97, 97, 97);
    padding: 20px;
}

.drinks-item:nth-of-type(6) li:first-of-type,
.drinks-item:nth-of-type(7) li:first-of-type {
    font-size: 18px;
    padding: 10px 30px;
}

/* end of menu */


/* about styling */

.about-body {
    display:flex;
}

.contact-details p:nth-of-type(1) {
    width: 144px;
    
}

.opening-hours p:nth-of-type(odd) {
    font-weight: bold;
}

.contact-details, .opening-hours {
    flex:1;
    padding: 50px 100px;
    background-color: white;

}

.about-body h2 {
    font-family: 'lobster', sans-serif;
}
/* end of about*/